.create-profile {
    width: 500px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

.wrapper {
    display: flex;
    justify-content: space-around; 

}

.signup-profile-pic__container {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    position: relative;

}

.signup-profile-pic {
    width: 150px;
    border-radius: 50%;
    border: 5px solid #00000010;
    object-fit: cover;
    height: 150px;
    box-shadow: rgba(43, 9, 123, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;

}

.add-picture-icon {
    position: absolute;
    bottom: 0;
    right: 15px;
    color: rgb(255, 255, 255);
    background: #1d8dbd;
    cursor: pointer;
    font-size: 20px;
    z-index: 1;
    border-radius: 10px;
    padding: 2px;
}

