.footer{
    height: 30px;
      background-color:rgba(0, 0, 0, 0.759);
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      text-align: middle;
      text-align: center;
  }
  .footer-title{
      color: rgba(240, 248, 255, 0.569);
      padding-left: 50px;
      font-size: 10px;
      font-weight: 700;
      display: inline;
      vertical-align:center;
      text-transform: uppercase;
  }
  